<h1>Movie Lists</h1>

<%= link_to "New List", new_list_path, class: "btn btn-success" %> 

<% @lists.each do |list| %>
  <div> <%= list.name %> | <%= link_to "See details", list_path(list), class: "btn btn-outline-primary btn-sm"%>
  </div>
<% end %>
